<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4EOBZIrSwksYkm470z48OYkLvuj1bvbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1044531582916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyTable.MyTable</string>
	<key>PROJECT_ID</key>
	<string>mytable-12cf3</string>
	<key>STORAGE_BUCKET</key>
	<string>mytable-12cf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044531582916:ios:9a711bcb41f5ff2a4bb691</string>
</dict>
</plist>